body{
    font-family: Helvetica, Arial, sans-serif;
    margin : 0;
}


#logo{
    margin: 0;
    font-family: 'Helvetica', Times, serif;
    color: white;
}

body > nav > ul{
    list-style: none;
}


body > footer{
    background-color:gray ;
    color: white;
    text-align: center;
    font-size: 10px;
    margin: 20px;
    
}



.blue-margins{
    background-color:gray;
    list-style: none;

}

.header-right-aligned{
    text-align: right;
    list-style: none;
    color: white;
    display:inline;
    text
}

.article-centre-position{
    text-align: center;
    list-style: none;
}

body > nav > ul{
    list-style: none;
}
body > nav > ul{
    list-style: none;
}

.remove-bullets{
    list-style: none;
    font-size: 20px;
    margin: 20px;

}
.list-style{
    display: inline-block ;
}
body> main> article {
    width: 90%;
    margin: auto;
    text 

}